
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

.swiftpm/xcode/package.xcworkspace/xcuserdata/mark.brown.xcuserdatad/UserInterfaceState.xcuserstate

.swiftpm/xcode/xcuserdata/mark.brown.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store
